@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('../src/images/pexels-polina-tankilevitch-4109751.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}